*{
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #d3d3d3;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.logo{
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 300 !important; 
}


.instagram {
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
}

/* Usuwamy standardow¹ liniê pod nav-tabs */
.nav-tabs {
    border-bottom: none;
}

    /* Styl linków w zak³adkach */
    .nav-tabs .nav-link {
        border: none; /* Usuwamy obramowanie zak³adek */
        text-transform: uppercase; /* Du¿e litery */
        color: #000; /* Kolor tekstu */
        font-weight: 600; /* Trochê pogrubiamy */
        margin-right: 20px; /* Odstêp poziomy miêdzy zak³adkami */
        padding-bottom: 10px;
    }

        /* Hover, ¿eby nie pojawia³y siê linie i podkreœlenia */
        .nav-tabs .nav-link:hover {
            border: none;
            color: #333;
        }

        /* Podkreœlenie aktywnej zak³adki grubsz¹ czarn¹ lini¹ */
        .nav-tabs .nav-link.active {
            border-bottom: 3px solid #000;
            color: #000;
        }

.text-justify {
    text-align: justify;
}

/* Rozwi¹zanie problemu ze skacz¹c¹ karuzel¹ */
.carousel-inner {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-item {
    height: 0;
    padding-bottom: 140%; 
    position: relative;
}

    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Zapewnia wype³nienie kontenera z zachowaniem proporcji */
        object-position: center;
    }

/* Specjalne style dla strony szczegó³ów produktu */
.productDetailImg {
    height: 0;
    padding-bottom: 90%; 
    position: relative;
}

    .productDetailImg img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain; /* Zapewnia widocznoœæ ca³ego obrazu */
        object-position: center;
        
    }

/* Style dla nawigacji karuzeli */
.carousel-control-prev,
.carousel-control-next {
    width: 10%;
    opacity: 0.2;
}

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 0.6;
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 10px;
}
#productCarousel .carousel-control-prev,
#productCarousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 90%; /* Dopasowane do padding-bottom kontenera */
}



/* Responsywnoœæ dla mniejszych ekranów */
@media (max-width: 768px) {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 2rem;
        height: 2rem;
    }

    .carousel-item img {
        max-height: 50vh;
    }
}

/* Style dla nak³adki na zdjêcia produktów */
.image-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Pó³przeŸroczyste czarne t³o */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-content {
    text-align: center;
    color: white;
    padding: 20px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container:hover img {
    filter: blur(1px);
    transition: filter 0.3s ease;
}


