*{
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #d3d3d3;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.logo{
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 300 !important; 
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* Zwiêkszenie szerokoœci i wysokoœci */
    width: 3rem;
    height: 3rem;
    /* Ikona w tle zajmuje tylko czêœæ kontenera */
    background-size: 50%, 50%;
    /* Nadanie pó³przezroczystego czarnego t³a */
    background-color: rgba(0, 0, 0, 0.3);
    /* Zaokr¹glenie, aby uzyskaæ kszta³t kó³ka */
    border-radius: 50%;
    
}

.instagram{
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    
    
}

/* Usuwamy standardow¹ liniê pod nav-tabs */
.nav-tabs {
    border-bottom: none;
}

    /* Styl linków w zak³adkach */
    .nav-tabs .nav-link {
        border: none; /* Usuwamy obramowanie zak³adek */
        text-transform: uppercase; /* Du¿e litery */
        color: #000; /* Kolor tekstu */
        font-weight: 600; /* Trochê pogrubiamy */
        margin-right: 20px; /* Odstêp poziomy miêdzy zak³adkami */
        padding-bottom: 10px;
    }

        /* Hover, ¿eby nie pojawia³y siê linie i podkreœlenia */
        .nav-tabs .nav-link:hover {
            border: none;
            color: #333;
        }

        /* Podkreœlenie aktywnej zak³adki grubsz¹ czarn¹ lini¹ */
        .nav-tabs .nav-link.active {
            border-bottom: 3px solid #000;
            color: #000;
        }

.text-justify {
    text-align: justify;
}

.carousel-item {
    position: relative;
    height: 0;
    padding-bottom: 133%; /* Ustaw odpowiedni stosunek wysokoœci do szerokoœci */
    overflow: hidden;
}

    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain; /* lub cover, w zale¿noœci od preferencji */
    }
/* Style dla nak³adki na zdjêcia produktów */
.image-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Pó³przeŸroczyste czarne t³o */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-content {
    text-align: center;
    color: white;
    padding: 20px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container:hover img {
    filter: blur(1px);
    transition: filter 0.3s ease;
}