@page
@model AlDentev2.Pages.AboutModel
@{
    ViewData["Title"] = "O marce";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 offset-1 mt-5">
            <video class="img-fluid">
                <source src="~/images/about.MP4" type="video/mp4" />
            </video>
        </div>
        <div class="col-md-5 mt-5">
            <h5 class="text-center my-3">O marce</h5>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin dapibus orci, ut tincidunt ex ultrices vitae. In lectus neque, dapibus sit amet consectetur a, consectetur vel mauris. Quisque non vehicula massa, nec commodo tortor. Cras dapibus justo nisl, non placerat lectus pellentesque sit amet. Nam interdum nibh ut augue maximus viverra. Morbi quis fringilla diam, vel mollis augue. Duis rutrum, lectus eu euismod ornare, magna massa fringilla dolor, eu pulvinar urna odio vel sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque, lectus ut fringilla finibus, velit ipsum mattis enim, et lobortis lacus ex sed diam. Pellentesque feugiat elit nec erat pulvinar mollis. Duis luctus non lectus at ultricies. Nunc eu nisi quis erat volutpat volutpat in non lorem. Praesent id porta elit. Ut cursus, magna et semper efficitur, ex sem venenatis lacus, non convallis dolor enim nec nibh. Nulla ante lacus, tincidunt dignissim condimentum non, lacinia a arcu. </p>
            <h5 class="text-center my-3">Idea</h5>
            <p class="text-justify">Etiam sagittis laoreet fringilla. Donec velit nibh, scelerisque at tempus id, ullamcorper quis dui. Vivamus vehicula ante eget blandit feugiat. Etiam vel nisi hendrerit, fermentum diam sed, porta sem. Curabitur vestibulum est non lacinia auctor. Vestibulum congue ligula vitae magna porta bibendum. Cras et tortor nisl. Nunc elit lorem, ultricies a elit semper, sodales pharetra tortor. Aenean tristique velit at mi accumsan, a ultricies eros finibus. </p>
        </div>
    </div>
</div>
