@page
@model AlDentev2.Pages.BagsModel
@{
    ViewData["Title"] = "Torby";
}

<div class="container mt-5">
    <div class="row ">
        <div class="col-sm-4 offset-sm-2 mt-5">
            <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active hat">
                        <img class="d-block w-100" src="~/images/bag7.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item hat">
                        <img class="d-block w-100" src="~/images/bag5.jpg" alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4 text-center align-content-center">
            <h6>AL DENTE BAG WHITE</h6>
            <p>99 PLN </p>
            <button class="btn btn-dark mt-4" type="button">Dodaj do koszyka</button>
        </div>


        <div class="col-sm-4 offset-sm-2 my-3">
            <div id="carouselControls2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active hat">
                        <img class="d-block w-100" src="~/images/bag1.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item hat">
                        <img class="d-block w-100" src="~/images/bag3.jpg" alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselControls2" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselControls2" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-4 text-center align-content-center">
            <h6>AL DENTE BAG BLACK</h6>
            <p>99 PLN </p>
            <button class="btn btn-dark mt-4" type="button">Dodaj do koszyka</button>
        </div>


    </div>
</div>
