@page
@model AlDentev2.Pages.ContactFormModel
@inject IConfiguration configuration
@{
    ViewData["Title"] = "Kontakt";
    var siteKey = configuration["ReCaptcha:SiteKey"];
}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="~/js/contact-form.js"></script>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 offset-1 mt-5 custom-height">
            <video class="img-fluid">
                <source src="~/images/9.MP4" type="video/mp4" />
            </video>
        </div>
        <div class="col-md-6 mt-5 ">
            <h5 class="text-center my-5">Kontakt</h5>
            @if (!string.IsNullOrEmpty(Model.StatusMessage))
            {
                <div class="alert @(Model.StatusMessage.Contains("pomyślnie") ? "alert-success" : "alert-danger") mt-3">
                    @Model.StatusMessage
                </div>
            }
            <form method="post" id="contact_form_id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.NameSurname" class="mb-1">Imię i nazwisko</label>
                    <input asp-for="Input.NameSurname" class="form-control" required>
                    <span asp-validation-for="Input.NameSurname" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="Input.Email" class="mb-1"></label>
                    <input asp-for="Input.Email" class="form-control" required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="Input.Topic" class="mb-1"></label>
                    <input asp-for="Input.Topic" class="form-control" required />
                    <span asp-validation-for="Input.Topic" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="Input.ContactText" class="mb-1"></label>
                    <textarea asp-for="Input.ContactText" class="form-control" rows="4" required></textarea>
                    <span asp-validation-for="Input.ContactText" class="text-danger"></span>
                </div>
                <div class="form-group text-center my-4 ">
                    <button class="g-recaptcha btn btn-dark"
                            data-sitekey="@siteKey"
                            data-callback='onSubmit'
                            data-action='submit'>
                        Wyślij
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>