@page
@model IndexModel
@{
    ViewData["Title"] = "Nowości";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center mb-3 mt-5">
            <figure>
                <img class="img-fluid" src="~/images/unnamed.jpg" alt="Hero" />
            </figure>
            <a class="text-decoration-none instagram" href="#"><i class="bi bi-instagram fs-3 me-3 "></i>linguadelglutine</a>
        </div>

        <div class="col-md-6">
            <figure class="product-figure">
                <a href="/ProductDetails/1" class="text-decoration-none">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/1.jpg" alt="Al Dente hoodie white" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <h5>AL DENTE HOODIE WHITE</h5>
                                <p>399 PLN</p>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-md-6">
            <figure class="product-figure">
                <a href="/ProductDetails/4" class="text-decoration-none">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/2.jpg" alt="Al Dente shirt white" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <h5>AL DENTE T-SHIRT WHITE</h5>
                                <p>199 PLN</p>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-md-4">
            <figure class="product-figure">
                <a href="/ProductDetails/1" class="text-decoration-none">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/3.jpg" alt="Al Dente hoodie white" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <h5>AL DENTE HOODIE WHITE</h5>
                                <p>399 PLN</p>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        </div>

        <div class="col-md-4">
            <figure class="product-figure">
                <a href="/ProductDetails/4" class="text-decoration-none">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/4.jpg" alt="Al Dente shirt white" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <h5>AL DENTE T-SHIRT WHITE</h5>
                                <p>199 PLN</p>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="product-figure">
                <a href="/ProductDetails/1" class="text-decoration-none">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/2.jpg" alt="Al Dente hoodie white" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <h5>AL DENTE HOODIE WHITE</h5>
                                <p>399 PLN</p>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="product-figure">
                <a href="/ProductDetails/1" class="text-decoration-none">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/6.jpg" alt="Al Dente hoodie white" />

                        <div class="overlay">
                            <div class="overlay-content">
                                <h5>AL DENTE HOODIE WHITE</h5>
                                <p>399 PLN</p>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="product-figure">
                <a href="/ProductDetails/4" class="text-decoration-none">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/7.jpg" alt="Al Dente shirt white" />
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h5>AL DENTE T-SHIRT WHITE</h5>
                                    <p>199 PLN</p>
                                </div>
                            </div>
                    </div>
                </a>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="product-figure">
                <a href="/ProductDetails/1" class="text-decoration-none">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/8.jpg" alt="Al Dente hoodie white" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <h5>AL DENTE HOODIE WHITE</h5>
                                <p>399 PLN</p>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        </div>
    </div>

</div>

