@page
@model AlDentev2.Pages.LoginPageModel
@{
    ViewData["Title"] = "Moje konto";
}


<div class="container mt-5">
    <!-- NAV z zakładkami -->
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            @if (Model.StatusMessage != null)
            {
                <div class="alert alert-secondary mb-4">
                    @Model.StatusMessage
                </div>
            }
            <ul class="nav nav-tabs justify-content-center" id="loginTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            id="login-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#login-content"
                            type="button"
                            role="tab"
                            aria-controls="login-content"
                            aria-selected="true">
                        Zaloguj się
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="register-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#register-content"
                            type="button"
                            role="tab"
                            aria-controls="register-content"
                            aria-selected="false">
                        Stwórz konto
                    </button>
                </li>
            </ul>

            <!-- Zawartość zakładek -->
            <div class="tab-content" id="loginTabsContent">

                <!-- Zakładka: Zaloguj się -->
                <div class="tab-pane fade show active p-3"
                     id="login-content"
                     role="tabpanel"
                     aria-labelledby="login-tab">
                    <form method="post" asp-page-handler="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="LoginInput.Email" class="form-label">Adres e-mail</label>
                            <input asp-for="LoginInput.Email" class="form-control" placeholder="Wprowadź e-mail">
                            <span asp-validation-for="LoginInput.Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="LoginInput.Password" class="form-label">Hasło</label>
                            <input asp-for="LoginInput.Password" class="form-control" placeholder="Wprowadź hasło">
                            <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-check">
                            <input asp-for="LoginInput.RememberMe" class="form-check-input">
                            <label asp-for="LoginInput.RememberMe" class="form-check-label">Zapamiętaj mnie</label>
                        </div>
                        <button type="submit" class="btn btn-dark">Zaloguj się</button>
                    </form>
                </div>

                <!-- Zakładka: Stwórz konto -->
                <div class="tab-pane fade p-3"
                     id="register-content"
                     role="tabpanel"
                     aria-labelledby="register-tab">
                    <form method="post" asp-page-handler="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="RegisterInput.Email" class="form-label">Adres e-mail</label>
                            <input asp-for="RegisterInput.Email" class="form-control" placeholder="Wprowadź e-mail">
                            <span asp-validation-for="RegisterInput.Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="RegisterInput.Password" class="form-label">Hasło</label>
                            <input asp-for="RegisterInput.Password" class="form-control" placeholder="Wprowadź hasło">
                            <span asp-validation-for="RegisterInput.Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="RegisterInput.ConfirmPassword" class="form-label">Powtórz hasło</label>
                            <input asp-for="RegisterInput.ConfirmPassword" class="form-control" placeholder="Powtórz hasło">
                            <span asp-validation-for="RegisterInput.Password" class="text-danger"></span>
                        </div>
                        
                        <button type="submit" class="btn btn-dark">Stwórz konto</button>
                    </form>
                </div>

            </div>

        </div>
   
    </div>
</div>

@* <script>
    function onClick(e) {
      e.preventDefault();
      grecaptcha.enterprise.ready(async () => {
        const token = await grecaptcha.enterprise.execute('6LeIv8MqAAAAACggo_Ey6hGPgO39ByeaQaNsIdiH', {action: 'LOGIN'});
      });
    }
</script>*@
@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@

